body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
   
    font-size: 15px;
    line-height: 1.6;
    color: #333; 
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/* Conainer */
.container {
    width: 100%;
        max-width: 1200px;
    margin: 0 auto;
}
hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__tittle {
    color: #fff;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
}

.intro__tittle:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}

.intro__suptittle{
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin-bottom: 20px;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

/* Slider */
.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display:flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;
    
    border-top: 3px solid #fff;
    opacity: 0.7;
    
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    
}



.slider__item:hover {
    
    opacity: 1;
}

.slider__item:hover:before {
    
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    
    background-color: #f38181;
    
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    
    background-color: #f38181;
    
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider.active {
    opacity: 1;
}

.slider__number {
    font-weight: 700;
    font-size: 24px;
}

/* Button */

.button {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: solid 3px #fff;
    padding: 8px 30px;
    display: inline-block;
    vertical-align: top;
    transition: color, background .1s linear;
}

.button:hover{
    color: #333;
    background-color: #fff;
 
}

/* Header */

.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    
}

/* Nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
    position: relative;
}

.nav__link:after {
    content: "";
    display: block;
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after {
    opacity: 1;
}

/* Section */

.section {
    padding: 80px 0;
}
.section--devices {
    padding-bottom: 0;
    background: url("../images/device_back.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
        
}

.section--gray {
    background-color: #f8f8f8;
}

.section__header {
    text-align: center;
    margin: 0 auto 50px;
    width: 100%;
    max-width: 950px;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive; 
    font-size: 24px;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto;
}
.section__text {
    font-size: 15px;
    font-weight: 300;
    color: #999;
}

/* about */
.about {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.about__item{
    width: 380px;
    background-color: #95e1d3;
    position: relative;
}

.about__item:hover .about__img img {
    opacity: .1;
}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__img {
    background: linear-gradient(to bottom, #fce28a, #f38181);
    transition: transform .1s linear;
}


.about__img img {
    display: block;
    transition: opacity .1s linear;
}

.about__text {
    display: block;
    position: absolute;
    top: 41%;
    left: 34%;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    opacity: .1;
    
}

.about__item:hover .about__text {
    opacity: 1;
}

/* Statistick */

.statistika {
    background-color: #95e1d3;
    max-height: 100%;
    height: 270px;
    position: relative;
    left: 0;
    bottom: 0;
    }
     
.stat {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stat__item {
    color: #fff;
    text-align: center;
    width: 270px;
    padding: 70px 25px;
    flex: 1 1 0;
    border-left: 1px solid #fff;
    height: 270px;
    border-color: #b5eae0;
}

.stat__item:last-child {
    color: #fff;
    text-align: center;
  
    flex: 1 1 0;
    border-right: 1px solid #fff;
    height: 270px;
    border-color: #b5eae0;
}
.stat__number{
    font-size: 72px;
    font-weight: 700;
    
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}

/* Service */

.service__table {
    display: flex;
    }

.service__item {
    padding-left: 85px;
    padding-right: 35px;
    
   
    position: relative;
    flex: 1 1 0;
}

.service__img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 28px;
    top: 0;
    z-index: 1;
}

.service__title {
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service__text {
    color: #b3b3b3;
    font-size: 15px;
    width: 100%;
}

/* Devices */


.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.device__item {
    display: block;
}

.device__item--iphone {
    position: absolute;
    right: 0;
    bottom: -70px;
    z-index: 1;
}

/* Service 2 */

.wedo {
    display: flex;
}

.wedo__item {
    
    width: 50%;
   
}


/* accardion */

.accardion__item {
   border: 1px solid #e5e5e5; 
    margin-bottom: 10px;
    
}

.accardion__item.active .accardion__content {
    display: block;
}

.accardion__item.active
.accardion__header:after {
    transform: translateY(-50%);
    transform: rotate(-45deg);
}

.accardion__item.active
.accardion__header {
    border-bottom-color: #e5e5e5; 
}

.accardion__title {
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
}

.accardion__content {
    font-size: 15px;
    font-style: italic;
    color: #999;
    padding: 15px 20px;
    display: none;
}

.accardion__header {
    border-bottom: 1px solid transparent;
    padding: 15px 20px 15px 60px;
    position: relative;
    cursor: pointer;
}

.accardion__header:after {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transform: rotate(135deg);
   
}

.accardion__header web--design {
     padding: 15px 20px 15px 60px;
    position: relative;
}
.accardion__img {
    
    position: absolute;
    left: 15px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
} 

/* Reviews */
.reviews {
    padding: 0 110px;
    position: relative;
}
.reviews__item {
    padding-left: 205px;
    position: relative;
}

.rewiews__photo{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 40px;
    border: 3px solid #95e1d3;
}

.reviews__text {
    font-size: 24px;
    color: #999;
    font-weight: 300;
    font-style:     italic;
    margin-bottom: 15px;
}
.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}
.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 3px;
    width: 60px;
    background-color: #f38181;
    margin-right: 10px;
}

.reveiws__btn {
    color: transparent;
    font-size: 0;
    
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}


.reveiws__btn:after {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    border-top: 3px solid #999;
    border-left: 3px solid #999;
    position: absolute;
    top: 50%;
    
   
}

.reveiws__btn--prev{
    left: 0;
    transform: rotate(-45deg);
}
.reveiws__btn--next{
    right: 0;
    transform: rotate(135deg);
}

/* Team */

.team {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.team__man {
    width: 100%;
    max-width: 380px;
    max-height: 470px;
    background-color: #95e1d3;
    position: relative;
}

.team__man:hover .team__img img {
    opacity: .1;
}

.team__man:hover .team__img {
    transform: translate3d(-10px, -10px, 0);
}

.team__img {
    background: linear-gradient(to bottom, #fce28a, #f38181);
    transition: transform .1s linear;
}


.team__img img {
    display: block;
    transition: opacity .1s linear;
}
.team__text {
    margin: 30px 0;
}

.team__name {
    text-transform: uppercase;
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.team__post {
    text-align: center;
    color: #999;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

.team__social {
    display: flex;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 42%;
    left: 19%;
    z-index: 1;

}
.team__man:hover .team__social {
    opacity: 1;
    }

.team__social__element {
    display: flex;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    border-right: 1px solid #f9bd87;
    color: #f38181;
    
}
.team__social__element:last-child {
    width: 55px;
    height: 55px;
    background-color: #fce38a;
}
    .team__social__element:hover {
    background-color: #f38181;
    color: #fff;  
    }
.fa-brands {
    transform: translateY(38%);
}
.team_button {
    text-decoration: none;
}

/* Logo */

.logo {
    background-color: #f8f8f8;
}
.logo__item {
    margin: 0 auto;
}
.logo_board {
    display: flex;
    justify-content: center;
    padding: 90px 0;
}

/* Works */

.works {
display: flex;
    
}

.works__col {
    flex: 1 1 0;
    
}

.works__item {
    position: relative;
    background: linear-gradient(to bottom, #fce28a, #f38181);
    
}

.works__item:hover .works__img {
    opacity: .1;
}

.works__img {
    display: block;
    transition: opacity 0.2s linear;
}



.works__info {
    width: 100%;
    padding: 0 15px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    text-align: center;
    color: #fff;
    
    opacity: 0;
    transition: opacity 0.2s linear;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__title {
    
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.works__text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}




